
/*.clearfix {
  clear: both;
}*/

header {
  width: 100%;
  height: 100px;
  background: pink;
}

div img {
  float: left;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Yellowtail', cursive;
}

div h1 {
  font-family: 'Dancing script', cursive;
  font-size: 30px;
  padding-top: 30px;
}

div h5{
  font-size: 10px;
}

.iconDiv {
  float: right;

  outline: dotted 5px orange;
}

.littleIcon {

  float: right;

}

main h2 {
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Crete Round', serif;

  }
 main h4 {
   color: #888;
   margin-left: 5px;
 }

.print {
  float: right;

  border: dotted 2px orange;
}
main img {
margin: 50px;
}

section p {

}

.ingred {

}

.ingre {

}

.list {

}

footer div img {

}

.van {

}

.food {

}

.one {

}

.delici {

}

.proud {

}
